nvim/init.nvim_bak
coc
configstore
efm-langserver
htop
iterm2
jgit
yarn
nvim/plugin
nvim/pack
_asserts
github-copilot
fish/fish_variables
lnav/*
!lnav/configs*
lnav/configs/default
!lnav/configs/installed/*
!lnav/configs/installed/tokyonight.json
